body {
    margin: 0;
    padding: 0;
}
{box-sizing: border-box;}
@font-face {
    font-family: FF1;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
 .box0 {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} 
.box6 {
    border-radius: 200px;
    background:#ECECEC;
    width: 50px;
    height: 50px;
}
.box10 {
    background-image: url(product-cover-124\ sec-.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}
.box11 {
    background-image: url(product-cover-125\ sec-.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}
.box12 {
    background-image: url(product-cover-126\ sec-.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}
.box13 {
    width: 51px;
    height: 24px;
    border-radius: 3px;
    background:  #E74040;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.box15 {
    border-radius: 20px;
    background: var(--dark-background-color, #26335D);
    width: 55px;
    height: 26px;
}
.a1 {
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    font-family: FF1;
}
.a2 , .a3 , .a4 {
    color:  #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
}
.a5 {
    color:  #FF6551;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
}
.bt1 {
    border-radius: 5px;
    background: #FF6551;
    width: 130px;
    height: 40px;
    color:  #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.bt2 {
    border-radius: 37px;
    border: 1px solid var(--primary-color, #FF6551);
    width: 141px;
    height: 44px;
    background-color: #FFF;
    color: var(--primary-color, #FF6551);
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.p1 {
    color: #FF6551;
    font-family: FF1;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-family: Montserrat; 
}
.p2 {
    color: #737373;
    font-size: 20px;
    font-family: Montserrat;
    line-height: 30px;
    letter-spacing: 0.9px;
}
.p3 {
    color: #737373;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.p4 {
    color:  #737373;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.9px;
}
.p5 {
    color: #737373;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.p6 {
    color:  #E74040;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    margin-top: 12px;
    letter-spacing: 0.9px;
    display: flex;
    justify-content: center;
}
.p7 {
    color: #737373;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 16px;
    letter-spacing: 0.2px;
}
.p8 {
    color:  #737373;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.p9 {
    color: var(--second-text-color, #737373);
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.p10 {
    color: var(--primary-text-color, #FF6551);
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.p11 {
    color: var(--second-text-color, #737373);
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.p12 {
    color: var(--muted-color, #BDBDBD);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.p13 {
    color: var(--light-text-color, #FFF);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.p14 {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
}
.p15 {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.2px;
}
.p16 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 0.2px;
}
.p17 {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
    margin: 0;
}
.sp1 {
    color: var(--secondary-color-1, #2435A1);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.h-1 {
    color:  #252B42;
    font-size: 58px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.9px;
}
.h-2 {
    color:  #252B42;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}
.h-3{
    color: #252B42;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.9px;
}
.h-4 {
    color:  #252B42;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.h-5 {
    color:  #252B42;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}
.h-6 {
    color: var(--primary-text-color, #FF6551);
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.h-7 {
    color: var(--text-color, #252B42);
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}
.h-8 {
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.92px;
}
.h-9 {
    color: var(--text-color, #252B42);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.h-10 {
    color: var(--second-text-color, #737373);
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.h-11 {
    color: var(--primary-text-color, #FF6551);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.h-12 {
    color: var(--light-text-color, #FFF);
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}
.h-13 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: 0.1px;
}
.h-14 {
    color: var(--primary-color, #FF6551);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.h-15 {
    color: var(--disabled-element-color, #8EC2F2);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
}
.h-16 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
}
.hr1 {
    width: 50px;
    height: 2px; 
    background: #E74040;
}
.ctd1 {
    color:  #252B42;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.card {
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    width: 330px;
    margin-top: 80px;
}
.btn1 {
    border-radius: 5px;
    background: var(--primary-color, #FF6551);
    color: var(--light-text-color, #FFF);
    text-align: center;
    width: 80%;
    height: 52px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
}
.h-17 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.1px;
}

